.App {
  text-align: center;
  font-family: Garamond, Georgia, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-title {
  font-family: Garamond, Georgia, sans-serif;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 30px;
  font-weight: 600;
  color: black
}

.workouts-header {
  font-family: Garamond, Georgia, sans-serif;
  font-style: italic;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 18px;
  font-weight: 600;
  color: black
}

.add-workout-header {
  font-family: Garamond, Georgia, sans-serif;
  font-style: italic;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 18px;
  font-weight: 600;
  color: black
}

.workouts-card-info {
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 2px;
}

.email-link {
  font-family: Garamond, Georgia, sans-serif;
  text-decoration: none;
}

footer {
  align-items: flex-end;
}

.workout-info {
  font-size: 25px;
  font-weight: 400;
  color: #282c34;
  text-decoration: #282c34;
  margin: 15px;
  padding: 5px;

}